<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- примеры бандлов
    <link rel="stylesheet" href="~/css/bundle.min.css" />
    <script src="~/js/bundle.min.js"></script>
    -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body class="p-2">
    <div>
        @RenderBody()
    </div>
</body>
</html>
