<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/bundle.min.css" />
    <script src="~/js/bundle.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
